body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-family: "NunitoSans-Regular";
}

@font-face{
    font-family: "CutiveMono-Regular";
    src: url("fonts/Cutive_Mono/CutiveMono-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Montserrat-Medium";
    src: url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face{
    font-family: "Montserrat-Bold";
    src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
  

@font-face{
    font-family: "NunitoSans-Regular";
    src: url("fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
}
  


#fauxConsole{
    background-color: black;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 70%;
    font-family: "CutiveMono-Regular";
    font-size: .8em;
    line-height: 1em;
    color: rgb(80, 212, 75);
    padding-left: 10px;
    overflow-y: scroll;

}

#fauxConsole p {
    padding: 0;
    margin: 0;
    margin-top: -2px;
    /* margin: 0px; */
}

button {
    background-color: white;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.514);
    border-radius: 8px;
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgb(255, 255, 255, 0));
    font-family: "Montserrat-Medium";
}

button:hover {
    color: rgb(39, 136, 10);
    background-color: rgb(241, 241, 241);
}

.centeredButtons{
    margin: auto;
    display: block;
    width: 50%;
}

.centeredButtonsDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

label {
    font-family: "Montserrat-Medium";
    text-align: center;
    display: block;
    padding: 10px;
}

input
{
    margin: auto;
    display: block;
}

#searching {
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    bottom: 0px;
    margin: 5px;
    font-size: .8em;
}

#lastReceivedMessages
{
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2em;
    color:rgb(92, 92, 92);
    line-height: 1em;
}

#lastMessage
{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Montserrat-Bold";
    font-size: 1.2em;

    height: 50px;
    overflow: scroll;
}

.scrollBox {
    background: 
      linear-gradient(#ffffff 33%, rgba(0, 0, 0, 0)),
      linear-gradient(rgba(0, 0, 0, 0), #ffffff 66%) 0 100%,
      radial-gradient(farthest-side at 50% 0, rgba(34, 34, 34, 0.116), rgba(0,0,0,0)),
      radial-gradient(farthest-side at 50% 100%, rgba(34, 34, 34, 0.116), rgba(0,0,0,0)) 0 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;
  }

.horizontalLine
{
    width: 100%;
    height: 1px;
    background-color: rgb(168, 168, 168);
}

#enableMessageTypingText{
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    font-size: .8em;
    color:rgb(92, 92, 92);
}

#enableTypingCheckbox
{
    width: 15px;
    height: 15px;
}

.loader {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #34db9b; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    display: inline-block;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }